.user-info__edit-avatar{
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    left: 0;
    top: 0;
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,.8);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/editAvatar.svg);
    transition: opacity 0.4s;
}
.user-info__edit-avatar:hover{
    opacity: 1;
}
.user-info__edit-avatar:focus{
    outline: none;
}